In [1]:
import pandas as pd

In [62]:
from functools import reduce

In [2]:
y0 = pd.read_csv('price_1970.csv')

In [3]:
y1 = pd.read_csv('price_1971.csv')

In [4]:
y2 = pd.read_csv('price_1972.csv')

In [5]:
y3 = pd.read_csv('price_1973.csv')

In [6]:
y4 = pd.read_csv('price_1974.csv')

In [7]:
y5 = pd.read_csv('price_1975.csv')

In [8]:
y6 = pd.read_csv('price_1976.csv')

In [9]:
y7 = pd.read_csv('price_1977.csv')

In [10]:
y8 = pd.read_csv('price_1978.csv')

In [11]:
y9 = pd.read_csv('price_1979.csv')

In [12]:
y10 = pd.read_csv('price_1980.csv')

In [13]:
y11 = pd.read_csv('price_1981.csv')

In [14]:
y12 = pd.read_csv('price_1982.csv')

In [15]:
y13 = pd.read_csv('price_1983.csv')

In [16]:
y14 = pd.read_csv('price_1984.csv')

In [17]:
y15 = pd.read_csv('price_1985.csv')

In [18]:
y16 = pd.read_csv('price_1986.csv')

In [19]:
y17 = pd.read_csv('price_1987.csv')

In [20]:
y18 = pd.read_csv('price_1988.csv')

In [21]:
y19 = pd.read_csv('price_1989.csv')

In [22]:
y20 = pd.read_csv('price_1990.csv')

In [23]:
y21 = pd.read_csv('price_1991.csv')

In [24]:
y22 = pd.read_csv('price_1992.csv')

In [25]:
y23 = pd.read_csv('price_1993.csv')

In [26]:
y24 = pd.read_csv('price_1994.csv')

In [27]:
y25 = pd.read_csv('price_1995.csv')

In [28]:
y26 = pd.read_csv('price_1996.csv')

In [29]:
y27 = pd.read_csv('price_1997.csv')

In [30]:
y28 = pd.read_csv('price_1998.csv')

In [31]:
y29 = pd.read_csv('price_1999.csv')

In [32]:
y30 = pd.read_csv('price_2000.csv')

In [33]:
y31 = pd.read_csv('price_2001.csv')

In [34]:
y32 = pd.read_csv('price_2002.csv')

In [35]:
y33 = pd.read_csv('price_2003.csv')

In [36]:
y34 = pd.read_csv('price_2004.csv')

In [37]:
y35 = pd.read_csv('price_2005.csv')

In [38]:
y36 = pd.read_csv('price_2006.csv')

In [39]:
y37 = pd.read_csv('price_2007.csv')

In [40]:
y38 = pd.read_csv('price_2008.csv')

In [41]:
y39 = pd.read_csv('price_2009.csv')

In [42]:
y40 = pd.read_csv('price_2010.csv')

In [43]:
y41 = pd.read_csv('price_2011.csv')

In [44]:
y42 = pd.read_csv('price_2012.csv')

In [45]:
y43 = pd.read_csv('price_2013.csv')

In [46]:
y44 = pd.read_csv('price_2014.csv')

In [47]:
y45 = pd.read_csv('price_2015.csv')

In [48]:
y46 = pd.read_csv('price_2016.csv')

In [49]:
y47 = pd.read_csv('price_2017.csv')

In [63]:
yam_all_ = [y0,y1,y3,y4,y5,y6,y7,y8,y9,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19,y20,y21,y22,y23,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33,y34,y35,y36,y37,y38,y39,y40,y41,y42,y43,y44,y45,y46,y47]

In [64]:
yam_all_year = reduce(lambda left,right: pd.merge(left,right,on='Year'), yam_all_)

In [65]:
yam_all_year

,Year,1970,1971,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,JANUARY,0.003200,0.003700,0.004500,0.006800,0.008300,0.0123,0.028000,0.03880,0.032000,...,84.27,108.80,130.19,154.22,185.25,245.70,231.59,256.87,375.13,473.95
1,FEBRUARY,0.003100,0.003900,0.005300,0.007000,0.008800,0.0106,0.020000,0.04160,0.054100,...,90.72,115.50,139.96,150.10,195.75,251.80,240.31,259.37,382.98,476.47
2,MARCH,0.003500,0.004000,0.005700,0.007500,0.009000,0.0122,0.016500,0.04140,0.072700,...,96.81,109.32,142.42,160.43,203.77,250.00,252.87,277.06,423.63,528.26
3,APRIL,0.003700,0.003400,0.006000,0.007700,0.008900,0.0138,0.029500,0.05020,0.065300,...,113.13,123.93,153.88,173.61,208.18,270.32,263.83,287.39,473.10,561.18
4,MAY,0.004000,0.005100,0.006700,0.008100,0.010600,0.0136,0.029100,0.05900,0.083000,...,124.89,130.90,167.71,190.91,246.16,297.40,295.13,345.26,524.89,551.12
5,JUNE,0.003900,0.005400,0.006700,0.009000,0.009900,0.0164,0.044300,0.06880,0.077300,...,131.54,135.03,194.79,194.23,280.46,282.81,344.45,378.35,507.00,637.65
6,JULY,0.003600,0.003900,0.005500,0.007000,0.009300,0.0168,0.044000,0.05650,0.057600,...,129.53,121.35,196.37,202.10,258.30,265.80,322.36,376.93,507.53,589.93
7,AUGUST,0.003700,0.003400,0.004700,0.005700,0.007100,0.0144,0.030300,0.04180,0.048100,...,94.41,112.04,140.13,156.60,203.10,216.60,285.30,368.40,422.70,524.45
8,SEPTEMBER,0.003100,0.003000,0.004300,0.005300,0.007300,0.0139,0.024500,0.03510,0.040700,...,80.70,112.40,115.82,132.91,185.46,183.90,239.67,301.04,383.06,482.71
9,OCTOBER,0.003000,0.003000,0.004200,0.005600,0.015700,0.0116,0.023800,0.03480,0.051600,...,80.96,113.48,124.65,130.15,191.70,209.83,230.58,309.44,383.06,447.24
10,NOVEMBER,0.003300,0.003400,0.005400,0.006600,0.008900,0.0118,0.031100,0.04600,0.055900,...,92.00,120.64,114.45,136.10,202.00,209.83,231.92,327.25,400.17,462.33
11,DECEMBER,0.003500,0.004200,0.006300,0.007300,0.010500,0.0182,0.028200,0.05180,0.063600,...,96.19,137.84,132.85,159.44,218.90,249.30,268.00,345.17,424.69,461.76
12,AVERAGE,0.003467,0.003867,0.005442,0.006967,0.009525,0.0138,0.029108,0.04715,0.058492,...,101.26,120.10,146.10,161.73,214.92,244.44,267.17,319.38,434.00,516.42

In [66]:
yam_all_year.to_csv('yam_all_year.csv')